@charset "utf-8";
/* 전체영역 */
html,
body {
  position: relative;
}
body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #333;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, Helvetica Neue, Apple SD Gothic Neo,
    Segoe UI, Roboto, Arial, NotoSans, Open Sans, Malgun Gothic, 맑은 고딕,
    sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.responsive-image {
  max-width: 10px; /* 최대 너비를 100px로 설정 */
  height: auto; /* 이미지 비율을 유지 */
}
h1 {
  width: 88px;
  height: 55px;
  margin: 40px auto 30px;
  margin-top: 5%;
  margin-bottom: 30px;
  background: url(../images/logo_kakao_black.png) no-repeat;
  background-size: 100%;
}
h1:hover {
  opacity: 0.7;
  cursor: pointer;
}
.login .inner {
  width: 100%;
  max-width: 600px;
  max-height: 583px;
  margin: 40px auto 0px;
  text-align: center;
  padding: 60px 50px 30px;
  border: 1px solid #ddd;
}
.inner h2 {
  font-weight: normal;
  font-size: 28px;
  margin-bottom: 30px;
}

.qr_code p {
  min-width: 200px;
  line-height: 25px;
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: normal;
  background-size: 25px;
}
.qr_code p img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.qr_code canvas {
  margin: auto;
  margin-left: 35px;
  width: 200px;
  padding: 20px 20px 35px;
  border: 3px solid #f9dc25;
}
.box_qrcode {
  position: relative;
  width: 206px;
  height: 230px;
  margin: 20px auto 20px;
  padding: 24px 24px 0;
  border: 4px solid #ffde01;
  box-sizing: border-box;
}
.desc_code {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1px;
  text-align: center;
}
.desc_code > span {
  z-index: 1;
}

.txt_time > span {
  font-size: 14px;
}

.emph_time {
  color: red;
  font-weight: bold;
}
.ico_reset > img {
  width: 22px;
  height: 22px;
  margin-top: 10px;
  align-items: center;
  opacity: 1;
}
.ico_reset img:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
.btn_help {
  width: 22px;
  height: 22px;
  margin-left: 190px;
  margin-top: -40px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  opacity: 0.5;
}
.ico_help > img {
  width: 20px;
  height: 20px;
  margin-bottom: 14px;
  opacity: 0.5;
}
.ico_help > img:hover {
  opacity: 1;
  cursor: pointer;
}
/* 모달 */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100vw;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: 12% auto;
  background: #fff;
  padding: 20px;
  max-width: 800px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

.close {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 28px;
  font-weight: bold;
  color: #aaa;
  cursor: pointer;
}

.close:hover {
  color: black;
}
/* 유효 만료 모달 */
.common_layer {
  display: -ms-flex;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1010;
  overflow: auto;
  min-width: auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.4);
  flex-direction: column;
}

.common_layer .inner_layer {
  position: relative;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  width: 380px;
  height: auto;
  margin: auto;
  padding: 47px 30px 30px;
  border-radius: 1px;
  background-color: #fff;
  text-align: left;
  box-sizing: border-box;
}

.common_layer .tit_layer {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #191919;
  font-family: NotoSans, AppleSDGothicNeo, Malgun Gothic, 맑은 고딕, 돋움, dotum,
    sans-serif;
}

.common_layer p.tit_layer {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.common_layer .desc_layer {
  padding-top: 4px;
  font-size: 14px;
  line-height: 22px;
  color: #7f7f7f;
  letter-spacing: -0.06em;
}

.common_layer .desc_type2,
.common_layer .desc_type2:first-of-type {
  padding-top: 8px;
}

.common_layer .desc_layer:first-of-type {
  padding-top: 15px;
}

.common_layer .desc_type3 {
  color: #191919;
}

.common_layer .desc_type3:first-of-type {
  padding-top: 18px;
}

.common_layer .layer_head .desc_layer {
  padding-top: 4px;
}

.common_layer .link_txt {
  display: inline-block;
  margin-top: 12px;
  font-size: 14px;
  line-height: 20px;
  color: #191919;
  vertical-align: top;
  text-decoration: underline;
}

.common_layer .layer_foot {
  padding-top: 34px;
}

.common_layer .group_btn {
  display: flex;
  flex-wrap: wrap;
}

.common_layer .group_btn .btn_g {
  width: 100%;
  height: 44px;
  margin-top: 8px;
  border-radius: 6px;
  font-size: 15px;
  line-height: 46px;
  border: none;
}

.common_layer .group_btn .btn_g:first-of-type {
  margin-top: 0;
}
.common_layer .item_btn .btn_g {
  border-radius: 4px;
}

.common_layer .item_btn + .item_btn {
  padding-left: 6px;
}

.common_layer .layer_body .group_btn {
  padding-top: 10px;
}

.common_layer .btn_close {
  position: absolute;
  right: 30px;
  top: 19px;
  border: none;
  color: #e6e6e6;
  background-color: #fff !important;
}
.ico_close {
  font-size: 20px;
  margin: 5px 0 !important;
}
.common_layer .btn_close .ico_close {
  width: 24px;
  height: 24px;
  margin: 3px;
  background-position: -50px -50px;
}

.common_layer .item_choice {
  display: flex;
  width: 100%;
  margin: 16px 0 6px;
  justify-content: space-between;
}

.common_layer .item_choice .link_arr {
  margin-right: -10px;
}

.common_layer .item_choice .link_arr .ico_arr {
  display: block;
  margin: 3px 10px 2px 11px;
}

.common_layer .group_choice {
  padding: 16px 0 6px;
}

.common_layer .group_choice .item_choice {
  display: inline-flex;
  width: auto;
  margin: 0;
}

.common_layer .group_choice .item_choice + .item_choice {
  margin-left: 21px;
}

.common_layer .inner_layer_dkaptcha {
  width: 460px;
  padding: 24px;
  border-radius: 8px;
}

.common_layer .inner_layer_dkaptcha .tit_layer {
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  word-break: keep-all;
  word-wrap: break-word;
}

.common_layer .inner_layer_dkaptcha .desc_layer,
.common_layer .inner_layer_dkaptcha .layer_foot {
  padding-top: 24px;
}

.common_layer .inner_layer_dkaptcha .group_btn .btn_g {
  height: 46px;
}

.bg_dark .common_layer .inner_layer {
  background-color: #2c2c2e;
}

.bg_dark .common_layer .desc_layer.desc_type3,
.bg_dark .common_layer .tit_layer {
  color: #f2f2f2;
}

.bg_dark .common_layer .desc_layer {
  color: #a6a6a6;
}

.bg_dark .common_layer .link_txt {
  color: #f2f2f2;
}

.bg_dark .common_layer .btn_close .ico_close {
  background-position: -75px -50px;
}

/* */
.ft-info {
  display: flex;
  justify-content: center;
}
.simplelogin {
  max-width: 210px;
  bottom: 0;
  display: flex;
  font-size: 14px;
  flex-wrap: wrap;
  align-items: center;
  gap: 7px;
  justify-content: flex-start;
}
.simplelogin,
.orign-login {
  margin-top: 20px;
}
.orign-login {
  width: 100%;
}
.orign-login a {
  width: 100%;
  font-size: 14px;
}
.simplelogin input {
  width: 18px;
  height: 18px;
  margin: 3px;
}
.simplelogin img {
  width: 23px;
  height: 23px;
  opacity: 0.5;
}
.simplelogin img:hover {
  cursor: pointer;
  opacity: 1;
}
.orign-login {
  float: right;
  max-width: 200px;
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
}
.help {
  width: 100%;
  height: 50px;
}
.helpp {
  float: left;
  width: 100%;
  height: 50px;
  margin-top: 5px;
  line-height: 25px;
  padding: 2px 0 2px 5px;
  color: #f4f1f1;
  text-align: center;
  font-size: 15px;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}
.help a {
  width: 100px;
  margin: 0 auto;
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
  display: none;
  color: #ccc;
  z-index: 999999999;
}
.help a:hover {
  font-weight: bold;
}
.orign-login {
  font-size: 18px;
}

/* form하단 풋터 */
footer {
  max-width: 600px;
  margin: 20px auto 30px;
  text-align: center;
  font-size: 14px;
}
footer .inner {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.inner select {
  width: 100px;
  text-align: center;
  border: none;
  font-size: 14px;
}
.com-service {
  display: flex;
}
.com-service a {
  padding: 0 12px;
  border-left: 1px solid #ddd;
}
.groupsite {
  display: flex;
  align-items: center;
}
.groupsite img {
  width: 15px;
  height: 15px;
}

@media screen and (max-width: 600px) {
  footer .inner {
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .desc_code span {
    margin-bottom: 0;
  }
  .orign-login a {
    max-width: 200px;
  }
}

@media screen and (max-width: 470px) {
  .orign-login a {
    max-width: 200px;
    font-size: 16px;
  }
}
@media screen and (max-width: 390px) {
}
