@charset "utf-8";
/* 전체영역 */
html,
body {
  position: relative;
  height: 100%;
}
body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #333 ;  
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, Helvetica Neue, Apple SD Gothic Neo, Segoe UI, Roboto, Arial, NotoSans, Open Sans, Malgun Gothic, 맑은 고딕, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.responsive-image {
  max-width: 10px;  /* 최대 너비를 100px로 설정 */
  height: auto;  /* 이미지 비율을 유지 */
}
h1 {
  width: 177px;
  height: 55px;
  margin: 40px auto 30px;  
  margin-top: 6%;
  margin-bottom: 40px;  
  background: url(../images/logo_kakao_black.png) no-repeat;
  background-size: 100%;
}
.login .inner {  
  width:  600px; 
  margin: 40px auto 30px;
  text-align: center;
  padding: 60px 50px;
  border: 1px solid #ddd;
}
.inner h2{
  font-weight: normal;
  font-size: 28px;
}
.box_qrcode {
  display: inline-block;
  margin: 20px;
}
.qr_code p{
  width: 450px;
  font-size: 15px;
  font-weight: normal;
  background:url(../images/scan__icon.png) no-repeat 9% 120%;
  background-size: 25px ;
}
.qr_code canvas{
  padding: 50px 50px 0px 50px;
} 
.desc_code{
  position: relative;
  width: 150px;
  margin: auto ;
  display: flex;
  justify-content: space-around;
}

.txt_time>span{
  font-size: 13px; 
}
.ico_reset img{
  position: absolute;
  top: 7px;
  left: 125px;
  width: 20px;
  height: 20px; 
  /* margin-left: 20px;  */

}
.simplelogin {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 7px;
  justify-content: flex-start;
  
}
.simplelogin input{
    width: 18px;
    height: 18px;
    margin: 3px;
    
}
.simplelogin img{
    width: 23px;
    height: 23px;
    opacity: .5;
}
.simplelogin img:hover{
  width: 24px;
  height: 24px;
  opacity: 1;
}
.help > p{ 
  position: relative;
  float: left;
  width: 400px;
  height: 50px;
  line-height: 23px;
  padding: 2px 0 2px 5px;
  color: #f4f1f1;
  text-align: left;
  font-size: 15px;
  z-index: 999999;
  background-color: rgba(0, 0, 0, .5);  
}
.help a{
  position: absolute;
  top:68%; 
  left: 50%;
  float: left;
  width: 100px;  
  font-size: 15px;
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
  color: #ccc;
  z-index: 999999999;
}
.help a:hover{
  font-weight: bold;
}
/* form하단 풋터 */
footer{
  width:  600px; 
  margin: 20px auto 30px;  
  text-align: center;
  font-size: 14px;
}
footer .inner {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.inner select{
  width: 100px;
  text-align: center;
  border:none;
  font-size: 14px;
}
.com-service{
  display: flex;  
}
.com-service a{
  padding: 0 12px;
  border-left:1px solid #ddd;
}
.groupsite{
  display: flex;
  align-items: center;
}
.groupsite img{
  width: 15px;
  height: 15px;
}


